body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #111;
    color: white;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
}

.video-card {
    background: white;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

video {
    width: 100%;
    height: auto;   /* Natural size */
    max-height: 500px;  /* Page ko control karega */
    border-radius: 10px;
}

footer {
    background: black;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

