body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: Arial, sans-serif;
}

header {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 22px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 columns fixed */
    gap: 20px;
    padding: 30px;
}

video {
    width: 100%;
    height: 520px;        /* Reel height */
    object-fit: cover;    /* Fill properly */
    border-radius: 12px;
}
footer {
    color: white;
    text-align: center;
    padding: 20px;
}

